* {
    transition: .3s all ease-in-out;
}

.container{
    margin-bottom: 80px;
}

.carousel{
    background-image: url(image/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
.card {
    border: none;
    box-shadow: 0 5px 20px rgba(109, 109, 109, 0.12);
    border-radius: 10px;
    text-align: center;
}
.product-cat-title a {
    color: #FF9D00;
    font-weight: 700;
    
}
.carousel-item h6{
    color: gray;
    margin: 30px 0px;
}
.buy-now a{
    text-decoration: none;
    color: white;
}
.buy-now{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    
}

.botom{
    position: absolute;
    bottom: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}



.card img {
    padding-top: 30px;
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}



.product-cat-title a {
    color: #FF9D00;
    font-weight: 700;
}

.single-cat {
    text-align: center;
    border-radius: 20px 0 20px 0px;
}
.single-cat a h4{
    color: #2c2c2c;
    margin-top: 10px;
}
.single-cat.reverse-radious{
    border-radius: 0 20px 0 20px;

}

.single-cat:hover {
    transform: translateY(-10px);
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FFD019;
}
.navbar-brand img
{
    height: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: #707070;
}
.banner{
    background-image: url(image/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 8%;
}
.carousel-indicators li{
    background-color: #CECECE;
    height: 10px;
    width: 16px;
    border-radius: 6px;
    border: none;
}
.carousel-indicators .active {
    background-image: linear-gradient(to right, #FF9C35, #FFD019);
    width: 45px;
}
span.color-bar {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #FF9C35, #FFD019);
}
.contack{
    background: #ffc107;
    padding: 50px 70px;
 
}
footer a{
    color: #2c2c2c;
}
.social-media i {
    width: 40px;
    
}